@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 17, 24, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.panda {
  position: absolute;
  top: 150px;
  opacity: 0.5;
}

.server {
  position: absolute;
  top: 140px;
  right: 0px;
  opacity: 0.5;
  transform: scaleX(-1);
}

.hero {
  background-color: #be185d;
  background-image: url("/pattern.png");
}